html,body,div,span,object,iframe,img,table,tbody,tfoot,thead,td,th,tr
form,label,legend,header,footer,nav,article,section,aside,main{margin:0; padding:0; border:0; vertical-align:baseline; background:transparent;}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
html, body{width:100%; height:100%;}
article,aside,footer,header,nav,section,figcaption,figure,main {display: block;}
input:focus, button:focus, select:focus, textarea:focus {outline:none}
table,td,th,tr {border-collapse:collapse; border-spacing:0;}
input, select, textarea,button {font-family: sans-serif;font-size: 100%; line-height: 1.15; margin: 0}
button,input[type="button"]{cursor: pointer}
*{box-sizing: border-box;}
.clear{clear:both; font-size:0;}
.clearfix::after{clear: both; content: "";	display: table;}
img, iframe{max-width: 100%; height: auto;}
a {background-color: transparent; -webkit-text-decoration-skip: objects;}
img {border-style: none;}


body {
  min-width: 1010px;
  font-family: arial, sans-serif;
  font-weight: normal;
  background: #a2ca28;
}
a{
  color: inherit;
}
.header{
  height: 97px;
  background: #2e3b4e;
  padding-top: 30px;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
.navigator{
  background: #2e3b4e;
}
.logo{
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  float: left;
}
.header ul{
  font-size: 13px;
  color: #ffffff;
  list-style: none;
  padding-left: 450px;
  padding-right: 55px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 17px;

}
.header li{
  display: inline-block;
  color: #ffffff;
  padding-right: 35px;
  padding-top: 10px;
}
.items{
  padding-bottom: 130px;
  margin-top:0px;
}
.items p{
  color: #e6f1c6;
}
.item{
  width: 260px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 100px;
  vertical-align: top;
}
.item1{
  background: url(./img/case.png) 0 0 no-repeat;
}
.item2{
  background: url(./img/clock.png) 0 0 no-repeat;
}
.item3{
  background: url(./img/cloud.png) 0 0  no-repeat;
  margin-right: 0;
}
.item a{
  color:#e6f1c6;
}

.item h4{
  color: #eef5d7;
  font-size: 24px;
  padding-top: 30px;
}
.inform{
  background: #fff;
}
.info{
  overflow: hidden;
}
.info p{
  color: #979ca0;
  font-size: 14px;
}
.info h3{
  font-size: 35px;
  color: #2e3b4e;
  background: url(./img/drop.png) 50% 100% no-repeat;
  margin-top: 41px;
  padding-bottom: 45px;
  margin-bottom: 5px;
}
.text{
  float: left;
  width: 400px;
  text-align: center;
  padding: 25px 40px 25px;
}
.text h3{
  font-size: 35px;
  font-weight: 400;
  color: #a2ca28;
  text-transform: uppercase;
}
.text span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #fea197;
}
.text a{
  color: #a2ca28;
}
.bigphoto{
  float: left;
  width: 600px;
}
.bigphoto img {
  width: 100%;
  height: auto;
  display: block;
}
.footer{
  background: #0d1119;
  height: 250px;
}

.logotype p{
  color: #ffffff;
  font-size: 14px;
}
.logotype{
  float: right;
}
.container h4{
  font-size: 15px;
  color: #ffffff;
  display: inline-block;
}
.text2{
  color: #728594;
  font-size: 14px;
  padding-bottom: 31px;
  margin-right: 596px;
  padding-right: 10px;
}

.references a{
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.references .facebook{
  background: #2e3192 url(./img/face.png) 50% 50% no-repeat;
}
.references .twitter{
  background: #00aeef url(./img/twit.png) 50% 50% no-repeat;
}
.references .youtube{
  background: #ed3123 url(./img/tybe.png) 50% 50% no-repeat;
}
.references .instagram{
  background: #171a8f url(./img/inst.png) 50% 50% no-repeat;
}



