<style>
    .films {
        background: lightslategrey;
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 200px;
        padding: 20px;
    }
    #title{
        color:lightslategrey;
        margin-left: 150px;
    }
</style>
<h1 id="title">My favorite films</h1>
<div id="root"></div>
<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script type="text/babel">
    const Films = (props)=> {
        return (
                <div className="films">
                    <h1>{props.name}</h1>
                    <p>date release: {props.date}</p>
                    <img src={props.pic} alt=""/>
                </div>
        )
    };
    const film = (
            <div>
                <Films name="Crown" date="1994" pic="img/crown.jpg" />
                <Films name="Mad maps" date="1992" pic="img/dogs.jpg" />
                <Films name="Pulp fiction" date="1994" pic="img/pulp.jpg" />
            </div>
    );
//    const My = (props)=> {
//        return (
//                <div className="my">
//                    <h2>{props.title}</h2>
//                </div>
//        )
//    };
//    const titles = (
//            <div>
//                <My title="My favorite films"/>
//            </div>
//    );
    const title = document.getElementById('title');
    const root = document.getElementById('root');


    ReactDOM.render( film, root);
//    ReactDOM.render( titles, root);
</script>